#productos {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

body {
    background-color: cadetblue;
}

.tablaNormal {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

.tablaOrden {
    padding: 15px;
}


#encabezado,#cuerpo {
    border: 1px solid black;
    padding: 30px;
}

#btnPagar {
    width: 120px;
    height: 60px;
    font-size: 20px;
    /*float: right;*/
}

